.personal-info-container{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 2rem;
}

.personal-info-display {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

form{
    display: flex;
        flex-flow: column;
        gap: 1rem;
  
}

input{
    padding: 10px;
}

div{
    padding: 10px;
}