.practical-exp{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 2rem;

}

input{
    padding: 10px;
}

#job-start-date, #job-end-date{
    margin-left: 1rem;
}

button{
    align-self: center;
    width: 100px;
}